* {

}

body {
  margin-left:

}

.header {
  border-bottom: lightgrey 6px solid;
  width: 100%;
}

.content {
  border-bottom: lightgrey 6px solid;
}

.logo-text h3 {
  font-family: 'Yellowtail', cursive;
}

.social-media-list {
  display: inline;

}

.rss-mail-list{
  display: inline;
}

.recipe {
  background-image: url("../img/list-bg.png");
}
